.apps-travel {
  @media (min-width: @tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 70px;
  }
}

.apps-travel__item {
  padding-bottom: 45px;

  &:last-child {
    padding-bottom: 36px;
  }
}
