.competition {
  position: relative;

  background-color: #ffffff;
}

.competition__unvisible {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.competition__bg {
  background-color: @bg-light-grey;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.competition__content {
  margin: 0;
  padding: 20px;
  padding-top: 48px;
  padding-bottom: 15px;

  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 92px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 71px;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 90px;
    padding-top: 90px;
    padding-bottom: 72px;

    font-size: 18px;
  }
}

.competition__form {
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
