.contacts__container {
  background-color: #ffffff;
}

.contacts {
  position: relative;
}

.contacts svg {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.contacts__list {
  .list-reset;
  .padding;
  padding-top: 30px;

  width: 320px;
  box-sizing: border-box;
}

.contacts__item {
  padding-bottom: 17px;
  text-align: center;

  &:last-child {
    padding-bottom: 9px;
  }
}

.contacts__title {
  padding: 0;
  margin: 0;

  font-size: 18px;
  font-weight: 700;
}

.contacts__text {
  padding: 0;
  margin: 0;

  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

.contacts__link {
  text-decoration: none;
  color: #d22856;
}

.contacts__link--mail {
  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 1);
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__content {
  padding-top: 41px;
  margin: 0;
  position: relative;

  font-size: 24px;
  text-align: center;
  font-weight: 300;

  background-color: #ffffff;
}

.contacts__content p {
  margin: 0;
}

.contacts__map {
  margin: 0 auto;
  min-width: 320px;
  height: 227px;

  overflow: hidden;

  position: relative;

  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 122px;

    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    background-color: #d22856;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 132px;

    z-index: -1;
  }
}

.contacts__map img {
  width: 320px;
  margin-top: -418px;
  position: relative;

  z-index: -10;
  left: 50%;

  transform: translateX(-50%);
}

.contacts__map iframe {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-top: 40px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 660px;
  }

  .contacts__item {
    padding-bottom: 45px;
    width: 250px;

    &:last-child {
      padding-bottom: 17px;
    }
  }

  .contacts__content {
    font-size: 40px;
    line-height: 48px;

    padding-top: 45px;
  }

  .contacts__map {
    padding-bottom: 0;
    min-width: 660px;
    height: 368px;

    &::before {
      top: 188px;
    }

    &::after {
      top: 198px;
    }
  }

  .contacts__map img {
    margin-top: -321px;

    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    width: 960px;
    padding-top: 53px;
    padding-bottom: 43px;

    padding-left: 35px;
    padding-right: 35px;

    box-sizing: border-box;
    justify-content: space-between;
  }

  .contacts__title {
    padding-bottom: 20px;
  }

  .contacts__item--order {
    order: 2;
  }

  .contacts__content {
    font-size: 50px;
    line-height: 60px;

    padding-top: 65px;
  }

  .contacts__map {
    width: 100%;
    min-width: 960px;
    height: 459px;

    &::before {
      top: 221px;
    }

    &::after {
      top: 231px;
    }
  }

  .contacts__map img {
    margin-top: -318px;
  }
}
