.form__container {
  border: none;
  .padding;
}

.form__container--name {
  padding-bottom: 23px;
}

.form__field {
  font: inherit;

  font-size: 18px;
  padding: 14px 20px;

  width: 280px;
  box-sizing: border-box;
  color: #283645;

  border: solid 2px #e5e5e5;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
  }
}

.form__filter {
  border: none;

  background-color: @bg-light-grey;
  margin: 0;
  margin-top: -93px;
  .padding;
  padding-bottom: 12px;

  width: 320px;
  box-sizing: border-box;
}

.form__filter--apps {
  margin-top: -70px;
}

.form__filter-item {
  font-size: 18px;

  padding-left: 67px;
}


.form__filter-item label {
  position: relative;

  cursor: pointer;
  user-select: none;

  display: block;
}

.form__filter-checkbox + label::before {
  content: "";
  position: absolute;

  width: 39px;
  height: 39px;

  border: solid 2px #e5e5e5;
  box-sizing: border-box;
  background-color: #ffffff;

  top: -4px;
  left: -70px;
}

.form__filter-checkbox + label:hover::before,
.form__filter-radio + label:hover::before,
.form__filter-checkbox + label:focus::before,
.form__filter-radio + label:focus::before {
  border-color: #283645;
}

.form__filter-checkbox + label:active::before,
.form__filter-radio + label:active::before {
  border-color: #d22856;
}

.form__filter-checkbox:checked + label::after {
  content: "";

  position: absolute;
  width: 20px;
  height: 9px;

  border-left: solid 2px #de6182;
  border-bottom: solid 2px #de6182;

  transform: rotate(-45deg);

  top: 6px;
  left: -61px;
}

.form__filter-radio + label::before {
  content: "";
  position: absolute;

  width: 39px;
  height: 39px;

  border: solid 2px #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;

  box-sizing: border-box;

  top: -4px;
  left: -70px;
}

.form__filter-radio:checked + label::after {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;

  background-color: #de6182;
  border-radius: 50%;

  transform: rotate(-45deg);

  top: 7px;
  left: -58px;
}

.form__filter-text {
  font: inherit;
  font-size: 18px;
}

.form__content {
  text-align: center;
  text-transform: uppercase;

  padding-top: 34px;
  padding-bottom: 14px;
  margin: 0;
}

.form__color {
  color: #d22856;
}

.form__hidden {
  display: none;
}

.form__contacts {
  margin-top: 14px;
}

.form__container--comment {
  .padding;
  margin: 0;
  margin-top: -70px;
}

.form__comment {
  font: inherit;
  font-size: 18px;

  padding: 20px;
  padding-top: 16px;

  width: 236px;
  min-height: 163px;

  resize: none;
  border: solid 2px #e5e5e5;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
  }
}

.form__container--comment p {
  margin: 0;
}

.form__button {
  .padding;
  margin-top: 38px;

  box-sizing: border-box;
}

.form__title-item {
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.form__title-item--contacts {
  padding-left: 21px;
  padding-top: 19px;
  padding-bottom: 4px;
}

.form__title-item--name {
  padding-left: 22px;
  padding-top: 18px;
  padding-bottom: 5px;
}

.form__title-field {
  color: #d22856;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.form__title-field--progress {
  padding: 20px;
  padding-top: 150px;
  padding-bottom: 43px;
}

.form__title-field--apps {
  padding-top: 150px;
  padding-bottom: 40px;
}

.form__title-field--comment {
  .padding;
  padding-top: 107px;
  padding-bottom: 16px;

  text-align: center;
}

.form__title-field--contacts {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    .padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__container--name {
    order: -2;
    padding: 0;
  }

  .form__item-name {
    margin-bottom: 53px;

    display: flex;
    width: 620px;

    &:last-child {
      margin-bottom: 55px;
    }
  }

  .form__contacts {
    order: -1;

    border: solid 2px #e5e5e5;

    margin-top: 55px;
    padding: 0 18px;
    padding-top: 38px;
    padding-bottom: 13px;
  }

  .form__item {
    padding-bottom: 25px;
    padding-left: 38px;
    padding-right: 38px;

    display: flex;
    flex-wrap: wrap;
    width: 580px;
    box-sizing: border-box;

    position: relative;

    &::before {
      content: "";

      position: absolute;

      width: 63px;
      height: 62px;
      top: -1px;
      right: 40px;

      background-color: #e5e5e5;
      border: 1px solid #e5e5e5;
    }

    &:last-child {
      padding-bottom: 10px;
    }
  }

  .form__title-item--contacts {
    padding-top: 9px;
  }

  .form__item--tel::after {
    content: "";

    position: absolute;

    width: 20px;
    height: 19px;
    top: 21px;
    right: 61px;

    z-index: 1;

    background-image: url("../img/icon-phone.svg");
    background-size: 20px auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }

  .form__item--mail::after {
    content: "";

    position: absolute;

    width: 18px;
    height: 13px;
    top: 25px;
    right: 63px;

    z-index: 1;

    background-image: url("../img/icon-mail.svg");
    background-size: 18px auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }

  .form__field {
    width: 100%;

    padding-bottom: 15px;
  }

  .form__field--contacts {
    order: -1;
    width: 500px;
  }

  .form__filter {
    padding-left: 20px;
    padding-right: 20px;

    background-color: transparent;

    margin-top: 0;
    border: solid #e5e5e5 2px;
    width: 620px;
  }

  .form__filter--apps {
    order: -2;

    margin-top: 0;
    padding: 0 50px;

    box-sizing: border-box;
  }

  .form__filter-checkbox + label::before {
    left: -61px;
  }

  .form__filter-checkbox:checked + label::after {
    top: 8px;
    left: -52px;
  }

  .form__filter-radio + label::before {
    left: -61px;
  }

  .form__filter-radio:checked + label::after {
    width: 15px;
    height: 15px;

    top: 8px;
    left: -49px;
  }

  .form__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__container--comment {
    margin-top: 58px;

    border: solid 2px #e5e5e5;
    box-sizing: border-box;

    padding: 36px 55px;
    padding-bottom: 42px;
  }

  .form__comment {
    width: 460px;

    min-height: 153px;
  }

  .form__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;

    margin-top: 0;
    padding: 0;
    padding-top: 68px;
    padding-bottom: 50px;
  }

  .form__title-item--name {
    padding-left: 0;
    padding-right: 20px;
  }

  .form__title-field--apps {
    padding: 0 25px;
    padding-top: 2px;
  }

  .form__title-field--contacts {
    display: inline;
    padding: 0 27px;
  }

  .form__title-field--progress {
    padding: 33px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__title-field--comment {
    padding-top: 0;
    padding-bottom: 0;

    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    align-items: flex-start;

    padding: 0 10px;
  }

  .form__container--name {
    width: 435px;

    padding-top: 14px;
  }

  .form__item-name {
    width: 435px;

    &:last-child {
      margin-bottom: 56px;
    }
  }

  .form__contacts {
    width: 940px;

    margin: 0;
    padding: 0;
    padding-top: 33px;

    box-sizing: border-box;
  }

  .form__contacts-list {
    display: flex;
    justify-content: space-between;

    width: auto;
    padding: 0 57px;
  }

  .form__item {
    width: 375px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0;

    &::before {
      right: 0;
      width: 60px;
    }
  }

  .form__item--tel::after {
    right: 21px;
    top: 23px;
  }

  .form__item--mail::after {
    right: 24px;
  }

  .form__container--item {
    width: 371px;
  }

  .form__title-item--contacts {
    padding-top: 11px;
  }

  .form__field--contacts {
    width: 375px;
  }

  .form__filter--apps {
    width: 435px;

    padding-right: 20px;
    padding-left: 42px;
    padding-bottom: 0;
  }

  .form__filter-item {
    padding-left: 70px;

    padding-right: 0;
  }

  .form__container-comment {
    width: 924px;

    padding-bottom: 38px;
    margin-top: 56px;
  }

  .form__comment {
    width: 824px;

    min-height: 124px;
    box-sizing: border-box;
    padding-top: 14px;
  }

  .form__button {
    width: 940px;
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0;
  }

  .form__title-item {
    font-size: 14px;
  }

  .form__title-field {
    font-size: 14px;
  }

  .form__title-field--apps {
    padding-top: 0;
  }

  .form__title-field--contacts {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__filter-checkbox:checked + label::after {
    top: 6px;
  }

  .form__container--comment {
    margin-top: 56px;
    padding-bottom: 38px;
  }

  .form__hidden {
    display: inline;
  }
}
