.page-footer__logo {
  margin: 0;
  width: 146px;

  display: block;
}

.page-footer__hidden {
  display: none;
}

.page-footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 320px;

  margin-top: 40px;
  margin-bottom: 40px;
}

.page-footer__copyright {
  padding-top: 37px;

  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;

  margin: 0;
}

.page-footer__copyright-logo {
  fill: #d22856;

  &:hover,
  &:focus {
    fill: rgba(40, 54, 69, 1);
  }

  &:active {
    fill: rgba(40, 54, 69, 0.3);
  }
}

.page-footer__logo-image {
  fill: rgba(40, 54, 69, 1);

  &:hover,
  &:focus {
    fill: #d22856;
  }

  &:active {
    fill: rgba(40, 54, 69, 1);
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__hidden {
    display: block;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    margin-top: 38px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .page-footer__copyright {
    padding-left: 20px;
    padding-top: 8px;
  }

  .page-footer__copyright-link {
    display: block;

    width: 27px;
    height: 34px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    align-self: flex-start;
    width: 153px;
  }

  .page-footer__container {
    margin-top: 73px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;

    width: 960px;
  }

  .page-footer__copyright {
    padding-top: 0;
    padding-left: 0;

    width: 153px;
    margin-left: 0;
  }
}
