.progress {
  @media (min-width: @tablet-width) {
    margin-top: 57px;

    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}


.progress__item {
  padding-bottom: 52px;

  &:last-child {
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    width: 200px;
  }

  &:first-child {
    @media (min-width: @desktop-width) {
      order: -1;
    }
  }

  &:nth-child(3) {
    @media (min-width: @desktop-width) {
      order: -1;
    }
  }

  &:nth-child(5) {
    @media (min-width: @desktop-width) {
      order: -1;
    }
  }
}


.progress__list {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 935px;

    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
